{% spaceless %}
    {% with id=widget.attrs.id %}
        <div {% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
            {% for group, options, index in widget.optgroups %}
            {% for option in options %}
            <div>
                <input
                type="{{ option.type }}"
                name="{{ option.name }}"
                value="{{ option.value|stringformat:'s' }}"
                id="{{ option.attrs.id }}"
                {% if option.attrs.checked %} checked{% endif %}
                {% if option.attrs.disabled %} disabled{% endif %}
                class="d-none form-check-input option-button-radio">
                <label
                    class="btn btn-outline-primary text-dark btn-sm{% if option.attrs.checked %} active{% endif %}"
                    for="{{ option.attrs.id }}">
                    {{ option.label }}
                </label>
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    {% endwith %}
{% endspaceless %}
