{% extends 'home/bootstrap.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap5_extra_head %}
    <meta name="description" content="{{ site_name }}" />
    <link rel="stylesheet" type="text/css" href="{% static 'npm_components/bootstrap-icons/font/bootstrap-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
{% endblock %}

{% block bootstrap5_title %}
    {% block title %}{% endblock %}
{% endblock %}

{% block bootstrap5_before_content %}
{% endblock %}

{% block bootstrap5_content %}
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    <main class="flex-shrink-0 w-100 py-5 my-5">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
{% endblock %}

{% block bootstrap5_after_content %}
{% endblock %}
