# Ignore the following
__pycache__/
*.py[cod]
*.sqlite[3]
.idea
.vscode/
test-ignore

docs/_build/

*.egg-info/
npm-debug.log
node_modules/

*.mo

!docker/postgres/data/.gitkeep
docker/postgres/data/*

logs/

elearning/config_prod.py
elearning/config.py
elearning/static/

sent_emails

static/npm_components

venv
